<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <form method = "POST" action="/ta02/addUser">
    <label for="username">UserName</label>
    <input type="text" name="username" style="color: black;">
    <button type="submit">Add</button>
    </form>
    <form method = "POST" action="/ta02/removeUser">
      <label for="username">UserName</label>
      <input type="text" name="username" style="color: black;">
      <button type="submit">Remove</button>
      </form>
  </div>
</div>
<div class="container">
  <% for (let username of names) { %>
    <li><%= username %></li>
    <% } %>
</div>


</body>
</html>